[submodule "themes/hugo-coder"]
	path = homepage/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "homepage/themes/sam"]
	path = homepage/themes/sam
	url = https://github.com/janbaudisch/zola-sam.git
